

 h1 {
     font-size: 60px;
     font-style: normal;
     font-family: 'Titillium Web', sans-serif;
     color: rgb(255, 139, 255);

    }

  
body{
    background-color: rgb(255, 255, 255);
}

h4 {
color: rgb(255, 255, 255);
height: 25px;
font-size: 25px;
width: 1000px;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    position: absolute;
    top: 30px;
    
    display: inline-block;
    color: black;
    text-align: center;

}

.texto-encima {
position: absolute;
top: -15px;
left: -50px;
width: 800px;
}

.abajo {
    position: absolute;
    top: 600px;
    left: 500px;
    transform: translate(-50%, -50%);
}

.mini-noticias {
    position: absolute;
    top: 50px;
    height: 400px;
    width: 450px;
    background-color: grey;
    left: 1400px;
}

.colorado1 {
    position: absolute;
    top: 30px;
    left: 25px;
}

.colorado3 {
    position: absolute;
    top: 30px;
    left: 25px; 
}

.texto-mini {
    color: white;
    width: 400px;
    font-size: 25px;
    background-color: black;
    position: absolute;
    top: 295px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    left: 25px; 
    background-color: grey;
}

.covid {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 280px;
    font-size: 25px;
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    left: 25px;
}

.imagenes-controvertidas {
    position: absolute;
    top: 600px;
    left: 1400px;
}

.simbolo {
    position: absolute;
    top: 140px;
    font-size: 30px;
    left: 220px;
    color: white;

}

.alineacion {
    position: absolute;
    top: 500px;
    height: 400px;
    width: 450px;
    background-color: grey;
    
}

.algoxd {
    position: absolute;
    left: 50px;
}

.dia1 {
    position: absolute;
    left: 500px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}



.noticiagrande {
    position: absolute;
    top: 150px;
    
}

.separacionhr {
    position: absolute;
    top: 1000px;
    width: 2000px;
}

.dia2 {
    position: absolute;
    top: 1000px;
    left: 500px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.sexo {
    position: absolute;
    top: 1000px;
    left: 50px;
}

.infieles {
    position: absolute;
    top: 450px;
    left: 50px;
    color: rgb(255, 255, 255);
}

.nenapobre {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 285px;
    font-size: 25px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    background-color: rgba(128, 128, 128, 0);
    left: 25px;
}

.separacionhr2 {
    position:absolute;
    top: 2000px;
    width: 2000px;
}

.dia3 {
    position: absolute;
    top: 2000px;
    left: 500px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.alineacion2 {
    position: absolute;
    top: 550px;
    height: 400px;
    width: 450px;
    background-color: grey;
    left: 1400px;
}

.colorado {
    position: absolute;
    top: 30px;
    left: 25px;
    
}

.alineacion3 {
    position: absolute;
    top: 50px;
    height: 400px;
    width: 450px;
    background-color: grey;
    left: 1400px;
}

.mini-noticias2 {
    position: absolute;
    top: 30px;
    left: 25px;
}

.texto-mini2 {
    color: white;
    width: 400px;
    font-size: 25px;
    background-color: black;
    position: absolute;
    top: 290px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    left: 25px; 
    background-color: grey;
}

.sexo1 {
    position: absolute;
    top: 2000px;
    left: 50px;
}

.CFK {
    font-size: 60px;
    font-style: normal;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(4, 0, 255);
    position: absolute;
    top: 10px;    
    width: 1000px;   
}

.separacionhr3 {
    position:absolute;
    top: 3000px;
    width: 2000px;   
}

.sexo2 {
    position: absolute;
    top: 3000px;
    left: 50px;  
}

.dia4 {
    position: absolute;
    top: 3000px;
    left: 500px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.espacioalfinal {
    position: absolute;
    top: 3500px;

}

.separacionhr4 {
    position: absolute;
    top: 1300px;
    width: 2000px;
    color: rgba(137, 43, 226, 0);
}


.seleccionargentina {
    font-size: 60px;
    font-style: normal;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 2, 148);
    position: absolute;
    top: 450px;    
    left: 200px;
    width: 1000px;
}