.primarytitle {
    color: rgb(102, 102, 102);
    font-family: 'Segoe UI', sans-serif;
    font-size: 75px;
}

body {
    background-color: snow;
}

/*Esta parte modifica el nav*/
    
    .nav1 {
    color: rgb(63, 40, 168);
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    }

    .nav2 {
    color: rgb(63, 40, 168);
    font-family: 'Segoe UI', sans-serif; 
    font-size: 20px;
    
    }

    .nav3 {
        color: rgb(63, 40, 168);
        font-family: 'Segoe UI', sans-serif; 
        font-size: 20px;   
    }
    
    .nav4 {
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

/* Estilos de fuente */
.secondarytitle {
    color: rgb(102, 102, 102);
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;  
}

.p {
 font-family: 'Segoe UI', sans-serif;   
 color: grey;
 font-size: larger;
}

.section {
    font-family: 'Segoe UI', sans-serif;   
    color: snow;
    font-size: 18px;
    background-color: rgb(245, 159, 159);
}

.footer {
    font-family: 'Segoe UI', sans-serif;   
    color: rgb(20, 20, 20);
    font-size: 20px;  
    
}


.article {
    font-family: 'Segoe UI', sans-serif;   
    color: rgb(20, 20, 20);
    font-size: 15px;
    background-color: lightblue;
}

.comments {
    font-family: 'Segoe UI', sans-serif;   
    color: rgb(20, 20, 20);
    position: relative;
    top: -15px;
}

.commentitle {
    background-color: rgb(0, 186, 248);
  width: auto;  
}

.shit {
    font-family: 'Segoe UI', sans-serif;   
    color: rgb(0, 162, 255);
    font-size: 20px;
}

.index {
    color: rgb(71, 71, 71);
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
}

.titlesection {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    color: whitesmoke;
    background-color: rgb(247, 59, 26);

}
.margins {
    text-decoration: transparent;
    color: transparent;
}

/* Esta parte edita a los div */

.box {
    background-color:lightblue; 
    position: relative;
    top: -10px;
    display: block;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
}


.main {
    display:block;
    
}

.main1 {
    display:inline-block;
    justify-content: flex-start;
}

  

/*navegador */

.mainspan {
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;   
    color: rgb(0, 151, 252);
    text-decoration: underline transparent;
}

.mainspan:hover {
    background-color: rgb(46, 196, 255);
    font-size: 30px;
    color: rgb(0, 54, 134);
    cursor: pointer;
}

.mainspan:active {
    color: rgb(0, 116, 96);
}


.maindiv {
    background-color: rgb(97, 200, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.angryaf {
   text-decoration: underline transparent; 
}